.footer {
  position: relative;
  width: 100%;
  background-color: $color-green;
  color: $color-white;

  @include media('<phone') {
    height: 83.9rem;
  }
}

.footer__upper {
  padding-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media('<phone') {
    flex-direction: column;
  }
}

.footer__logo {
  width: 7.3rem;
  height: auto;

  @include media('<phone') {
    align-self: center;
  }
}

.footer__links {
  display: flex;
  margin-top: 3.7rem;

  @include media('<phone') {
    flex-direction: column;
  }
}

.footer__col {
  margin-right: 16.6rem;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  @extend %description-14;
  margin-bottom: 2.2rem;
}

.footer__backTop {
  margin-top: 3.7rem;
}

.footer__socials {
  display: flex;
}

.footer__socialLink {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.footer__bottom {
  margin-top: 13.4rem;
  padding-bottom: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media('<phone') {
    align-items: flex-start;
    margin-top: 6.8rem;
  }
}

.footer__line {
  height: 1px;
  width: 94.6rem;
  background-color: $color-white;
  opacity: .2;

  @include media('<phone') {
    width: 31.4rem;
  }
}

.footer__submenu {
  margin-top: 2.8rem;
  display: flex;
  align-self: flex-start;
  margin-left: 21rem;

  @include media('<phone') {
    margin-left: 0;
    flex-direction: column;
  }
}

.footer__sublink {
  @extend %description-10;
  opacity: .7;
  margin-right: 6.2rem;

  &:last-child {
    margin-right: 0;
  }

  @include media('<phone') {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
