.navigation__desktop {
  position: absolute;
  top: 3.9rem;
  width: 100%;
  display: none;
  z-index: 999999;

  @include media('>=phone') {
    display: block;
  }
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__left {
  display: flex;
  align-items: center;
}

.navigation__logo {
  width: 5.2rem;
  height: 5.2rem;
}

.navigation__link{
  @extend %description-14;
  margin-right: 2rem;
  color: $color-white;
}

.navigation--black .navigation__link{
  color: $color-black;
}

.navigation__right {
  display: flex;
  align-items: center;
}

.navigation__right li:last-child {
  .navigation__link {
    margin-right: 0;
  }
}


