.documents__intro {
  position: relative;
  padding-top: 14.1rem;
}

.documents__intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.documents__intro__subtitle {
  @extend %description-12;
  color: $color-beige;

  @include media('<phone') {
    margin-bottom: 2.4rem;
  }
}

.documents__intro__text {
  @extend %description-45;
  color: $color-green;
  max-width: 70.3rem;
}
