<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="preload" href="/fonts/DharmaGothicE-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/OpticianSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Silka-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Silka-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

</head>

<body>
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- NAVIGATION -->
    <nav class="navigation">
        <div class="navigation__mobile"></div>
        <div class="navigation__desktop">
            <div class="navigation__container l-container">
                <ul class="navigation__left">
                    <li class="navigation__dropdown">
                        <button class="navigation__link">Club<svg class="navigation__link__caret" width="8" height="6"
                                viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.75L4 4.25L7 0.75" stroke="#FAFAFA" />
                            </svg>
                            <div class="navigation__dropdown__content">
                                <a class="dropdown__link" href="/club/historique">Historique</a>
                                <a class="dropdown__link" href="/club/stade">Stade Remy Bellanger</a>
                    <li class="dropdown__link has-sub">
                        <a class="submenu" href="#">Staff</a>
                        <div class="dropdown__sub">
                            <a href="/club/conseil" class="submenu__link--sub">Conseil d'administration</a>
                            <a href="/club/benevoles" class="submenu__link--sub">Benevoles</a>
                        </div>
                    </li>
            </div>
            </button>
            </li>
            <li class="navigation__dropdown">
                <button class="navigation__link">Equipes<svg class="navigation__link__caret" width="8" height="6"
                        viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.75L4 4.25L7 0.75" stroke="#FAFAFA" />
                    </svg>
                    <div class="navigation__dropdown__content">
            <li class="dropdown__link has-sub">
                <a class="submenu" href="#">Performance</a>
                <div class="dropdown__sub">
                    <a href="/equipes/seniors1" class="submenu__link--sub">SENIORS 1 R1 - Groupe
                        B</a>
                    <a href="/equipes/seniors2" class="submenu__link--sub">SENIORS 2 D1 - Groupe
                        E</a>
                    <a href="/equipes/seniors3" class="submenu__link--sub">SENIORS 3 D2 - Groupe
                        F</a>
                    <a href="/equipes/seniors4" class="submenu__link--sub">SENIORS 4 D4 </a>
                    <a href="/equipes/veterans" class="submenu__link--sub">VETERANS (FOOT A 11 ET A
                        7) POULE K</a>
                </div>
            </li>
            <li class="dropdown__link has-sub">
                <a class="submenu" href="#">Formation</a>
                <div class="dropdown__sub">
                    <a href="/equipes/u19" class="submenu__link--sub">U19 R1</a>
                    <a href="/equipes/u18" class="submenu__link--sub">U18 D1</a>
                    <a href="/equipes/u16" class="submenu__link--sub">U16 D1</a>
                </div>
            </li>
            <li class="dropdown__link has-sub">
                <a class="submenu" href="#">Initiation</a>
                <div class="dropdown__sub">
                    <a href="/equipes/initiation/u9u10u11" class="submenu__link--sub">U9 - U10 - U11</a>
                </div>
            </li>
            <a class="dropdown__link" href="/equipes/arbitres">Les arbitres</a>
        </div>
        </button>
        </li>
        <li>
            <a href="/actualites/" class="navigation__link">Actualites</a>
        </li>
        <li>
            <a href="/convocations/" class="navigation__link">Convocations</a>
        </li>
        </ul>
        <div class="navigation__logo">
            <a href="/"><img src="../../../assets/LogoESPCDB.svg"
                    alt="Logo Espérance Chartres de Bretagne Football"></a>
        </div>
        <ul class="navigation__right">
            <li>
                <a href="/partenaires/" class="navigation__link">partenaires</a>
            </li>
            <li>
                <a href="/documents/" class="navigation__link">documents</a>
            </li>
            <!-- <li>
                                <a href="/boutique/" class="navigation__link">boutique</a>
                            </li> -->
            <li>
                <a href="/contact/" class="navigation__link">contact</a>
            </li>
        </ul>
        </div>
        </div>
    </nav>
    <main id="main">
        <div id="p" class="page" data-template="partenaires">
            <section class="partenaires__hero">
                <div class="partenaires__hero__content l-container">
                    <div class="partenaires__hero__breadcrumb">
                        <span class="partenaires__hero__breadcrumb--1">Accueil</span>
                        <div class="partenaires__hero__line"></div>
                        <span class="partenaires__hero__breadcrumb--2">partenaires</span>
                    </div>
                    <h1 class="partenaires__hero__title" data-animation="title">partenaires</h1>
                </div>
                <div class="partenaires__hero__background">
                    <div class="partenaires__hero__overlay"></div>
                    <img loading="lazy" src="../../../assets/img-partenaires-hero.png" alt=""
                        class="partenaires__hero__backgroundImage">
                </div>
            </section>
            <section class="partenaires__intro l-container">
                <div class="partenaires__intro__filters">
                    <p class="partenaires__intro__title">Filtres</p>
                    <div class="custom-select partenaires__intro__select">
                        <select>
                            <option selected="" disabled="">Secteur du Partenaire</option>
                            <option value="2">Automobile</option>
                            <option value="3">Bâtiment</option>
                            <option value="4">BTP / Materiaux Construction</option>
                            <option value="5">Commerce</option>
                            <option value="8">Immobilier</option>
                            <option value="6">Industrie</option>
                            <option value="7">Service</option>
                        </select>
                    </div>
                    <div class="custom-select partenaires__intro__select">
                        <select>
                            <option selected="" disabled="">Activite du Partenaire</option>
                            <option value="45">Agence Intérim</option>
                            <option value="4">Agencement Cuisine et Salle de Bain</option>
                            <option value="44">Agent Immobilier</option>
                            <option value="41">Aménagement et Design</option>
                            <option value="37">Assurances</option>
                            <option value="27">Banque</option>
                            <option value="12">Bar, Restaurant</option>
                            <option value="40">Bâtiment - Génie civil</option>
                            <option value="10">Béton</option>
                            <option value="18">Béton</option>
                            <option value="13">Boucherie, Charcuterie</option>
                            <option value="14">Boulangerie</option>
                            <option value="15">Caviste</option>
                            <option value="3">Chauffage</option>
                            <option value="16">Coiffure</option>
                            <option value="28">Conseil Financier</option>
                            <option value="5">Couverture, Isolation, Ramonage</option>
                            <option value="6">Eclairage Professionnel</option>
                            <option value="42">Elagage, Abattage, Paillage</option>
                            <option value="2">Électricité</option>
                            <option value="17">Fleuriste</option>
                            <option value="1">Garage</option>
                            <option value="29">Hôtel</option>
                            <option value="30">Imprimerie, Sérigraphie</option>
                            <option value="31">Informatique</option>
                            <option value="43">Location</option>
                            <option value="25">Maintenance industrielle</option>
                            <option value="39">Maitrise d'oeuvre en bâtiment</option>
                            <option value="7">Maitrise d'oeuvre, aménagement intérieur</option>
                            <option value="38">Materiaux</option>
                            <option value="46">Matériel - outillage agricole et professionnel</option>
                            <option value="8">Menuiserie</option>
                            <option value="32">Osthéopate</option>
                            <option value="19">Outillage Professionnel</option>
                            <option value="33">Paysagiste</option>
                            <option value="9">Peinture, Ravalement</option>
                            <option value="22">Pharmacie</option>
                            <option value="20">Pharmacie</option>
                            <option value="21">Restaurant</option>
                            <option value="36">Serrurerie - Ferronnerie - Métallerie</option>
                            <option value="35">Solution Linguistique</option>
                            <option value="23">Sport</option>
                            <option value="24">Supermarché</option>
                            <option value="34">Transport</option>
                            <option value="11">Travaux Publics</option>
                            <option value="26">Usinage de pièces mécanique</option>
                        </select>
                    </div>
                    <div class="cta cta__icon partenaires__intro__cta">Valider</div>
                </div>
            </section>
            <section class="partenaires__partners">
                <div class="partenaires__partners__wrapper l-container">
                    <div class="partenaires__partners__content -platine">
                        <h2 class="partenaires__partners__title">partenaires platines</h2>
                        <div class="partenaires__partners__grid">
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>

                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                        </div>
                    </div>
                    <div class="partenaires__partners__content -or">
                        <h2 class="partenaires__partners__title">partenaires or</h2>
                        <div class="partenaires__partners__grid">

                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>

                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                        </div>
                    </div>
                    <div class="partenaires__partners__content -argent">
                        <h2 class="partenaires__partners__title">partenaires argent</h2>
                        <div class="partenaires__partners__grid">
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>

                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                        </div>
                    </div>
                    <div class="partenaires__partners__content -bronze">
                        <h2 class="partenaires__partners__title">partenaires bronze</h2>
                        <div class="partenaires__partners__grid">
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                            <a href="#" class="partenaires__partners__imageContainer">
                                <img loading="lazy" src="../../../assets/partner1.png"
                                    class="partenaires__partners__image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="partenaires__partners__background"></div>
            </section>
            <footer class="footer ">
                <div class="footer__upper l-container">
                    <div class="footer__logo">
                        <img src="../../../assets/LogoESPCDB.svg" />
                    </div>
                    <ul class="footer__links">
                        <ul class="footer__col">
                            <li class="footer__link"><a href="#">Le club</a></li>
                            <li class="footer__link"><a href="#">Les equipes</a></li>
                            <li class="footer__link"><a href="#">Actualites</a></li>
                        </ul>
                        <ul class="footer__col">
                            <li class="footer__link"><a href="#">Convocations</a></li>
                            <li class="footer__link"><a href="#">Documents</a></li>
                            <li class="footer__link"><a href="#">Contact</a></li>
                        </ul>
                        <ul class="footer__col">
                            <li class="footer__link"><a href="#">Partenaires</a></li>
                            <li class="footer__link"><a href="#">Boutique</a></li>
                            <div class="footer__socials">
                                <a href="https://twitter.com/ESPCHARTRESfoot" target="_blank" rel="noopener noreferer"
                                    class="footer__socialLink">
                                    <img src="../../../assets/instagram.svg" />
                                </a>
                                <a href="https://www.instagram.com/espchartresdebretagnefootball/" target="_blank"
                                    rel="noopener noreferer" class="footer__socialLink">
                                    <img src="../../../assets/twitter-fill.svg" />
                                </a>
                                <a href="https://www.facebook.com/espchartres" target="_blank" rel="noopener noreferer"
                                    class="footer__socialLink">
                                    <img src="../../../assets/facebook-f.svg" />
                                </a>
                            </div>
                        </ul>
                    </ul>
                </div>
                <div class="footer__bottom l-container">
                    <div class="footer__line"></div>
                    <ul class="footer__submenu">
                        <li class="footer__sublink">@copyright esperance chartres de bretagne. All rights reserved</li>
                        <li class="footer__sublink"><a href="#">Mentions legales</a></li>
                        <li class="footer__sublink"><a href="#">politique de confidentialite</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </main>

</body>

</html>
