%title-16 {
  font-family: $font-optician-sans;
  font-size: 1.6rem;
  line-height: 93.5%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

%title-50 {
  font-family: $font-dharma-gothic;
  font-size: 5rem;
  line-height: 93.5%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

%title-100 {
  font-family: $font-dharma-gothic;
  font-size: 10rem;
  line-height: 93.5%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

%title-120 {
  font-family: $font-dharma-gothic;
  font-size: 12rem;
  line-height: 84.5%;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  @include media('<phone') {
    font-size: 6.5rem;
  }
}

%title-210 {
  font-family: $font-dharma-gothic;
  font-size: 21rem;
  line-height: 84.5%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
