$color-black: #0D0D0D;
$color-white: #FAFAFA;
$color-overlay : #00110B;
$color-green: #005133;
$color-orange: #F23E16;
$color-beige: #E0B472;
$color-dark-grey: #141414;
$color-light-grey: #EFEFEF;

$font-dharma-gothic: 'Dharma Gothic';
$font-optician-sans: 'Optician Sans';
$font-silka: 'Silka';

$ease-out-expo: cubic-bezier(.19, 1, .22, 1);

$z-indexes: (
  'navigation',
  'content'
);

