$color-black: #000;
$color-white: #fff;
$color-contessa: #C97164;

$font-dharma-gothic: 'Dharma Gothic';
$font-optician-sans: 'Optician Sans';
$font-silka: 'Silka';

$ease-out-expo: cubic-bezier(.19, 1, .22, 1);

$z-indexes: (
  'navigation',
  'content'
);

