html {
  font-size: calc(100vw / 1440 * 10);
  background-color: $color-white;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/

  @include media('<phone') {
    font-size: calc(100vw / 375 * 10);
  }
}

* {
  box-sizing: border-box;
}

.wf-loading body {
  visibility: hidden;
}

.wf-active body {
  @extend %description-15;
  visibility: visible;
  color: $color-black;
  font-family: $font-silka;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
}

[data-animation="title"] {
  span {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    will-change: transform;
  }
}

[data-animation="paragraph"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: inherit;
    will-change: transform;
  }
}
