// font faces
// ==========================================================================
// Register fonts

// It can be webfonts so just a link
// It can be local font so you have to use @font-face rule

// ==========================================================================

@font-face {
  font-family: $font-dharma-gothic;
  src: local('Dharma Gothic E Bold'), local('DharmaGothicE-Bold'),
    url('../fonts/DharmaGothicE-Bold.woff2') format('woff2'),
    url('../fonts/DharmaGothicE-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-dharma-gothic;
  src: local('Dharma Gothic E Regular'), local('DharmaGothicE-Regular'),
    url('../fonts/DharmaGothicE-Regular.woff2') format('woff2'),
    url('../fonts/DharmaGothicE-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-optician-sans;
  src: local('Optician Sans Regular'), local('OpticianSans-Regular'),
    url('../fonts/OpticianSans-Regular.woff2') format('woff2'),
    url('../fonts/OpticianSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-silka;
  src: local('Silka Light'), local('Silka-Light'),
    url('../fonts/Silka-Light.woff2') format('woff2'),
    url('../fonts/Silka-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-silka;
  src: local('Silka Regular'), local('Silka-Regular'),
    url('../fonts/Silka-Regular.woff2') format('woff2'),
    url('../fonts/Silka-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
